
.row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.square {
    width: 100px;
    height: 100px;
    margin: 7px 7px 7px 7px;
    flex-grow: 1
}