
.row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}


.square {
    width: 100px;
    height: 100px;
    margin: 7.5px 7.5px 7.5px 7.5px;
}