<mat-toolbar color="" style="width: 100%;margin-right:0px;">
    <span class="light-brown-font">Spectrum</span>
    <button mat-icon-button color="warn" aria-label="Spectrum code" (click)="onCodeClick()">        
        <mat-icon>code</mat-icon>
    </button>    
    <span class="spacer"></span>
    <button id="segmentBtn" mat-raised-button aria-label="Segments" (click)="openSegmentDialog($event)">
        <span class="light-brown-font">All</span>
        <mat-icon class="light-brown-font">arrow_drop_down</mat-icon>
    </button>
    <button mat-icon-button color="warn" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar>

<div class="centered" *ngIf="!discovered">
    <mat-spinner diameter="48"></mat-spinner>
</div>
<ng-template [ngIf]="discovered">
    <router-outlet></router-outlet>
</ng-template>