.example-spacer {
  flex: 1 1 auto;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}