/* You can add global styles to this file, and also import other style files */

body {
    background-color: #323236;
}

.nopadding-dialog-container .mat-dialog-container {
    padding: 8px;
}

.nobackground-dialog-container .mat-dialog-container {
    background-color: #27272ad5;
}

.spacer {
    flex: 1 1 auto;
}

.light-brown-font {
    color: #f0d5ba;
}

.pastel-red-font {
    color: #ee6969;
}

.pastel-red-bg {
    background-color: #ee6969;
}

.pastel-green-font {
    color: #7dbd74;
}

.pastel-green-bg {
    background-color: #7dbd74;
}

.text-shadow {
    text-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.box-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.red-snackbar {
    background: rgb(33,33,33) !important;
    color: #ee6969 !important;
}
.red-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}

.yellow-snackbar {
    background: rgb(33,33,33) !important;
    color: #f0d5ba !important;
}
.yellow-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}

.green-snackbar {
    background: rgb(33,33,33) !important;
    color: #7dbd74 !important;
}
.green-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}